[user]
name = Nils Juto 
email = nilsjuto@posteo.net

[core]
editor=kak

[advice]
defaultBranchName=false
[credential "https://github.com"]
	helper = 
	helper = !/etc/profiles/per-user/nilsj/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/etc/profiles/per-user/nilsj/bin/gh auth git-credential
